.searchResult {
    text-align: center;
    display:inline-block; height:150px;
    width: 200px;
    vertical-align:middle;
  }

.showTotalPrice{

}

.totalPrice{
    
}

.detailsView {
  padding: 50px;
}

.imageView{
  display:inline-block;
  border-radius: 25px;
  border: 5px solid #887d41;
  padding: 0px;
  width: 500px;
  height: 400px;
}

.titleView{
  font-family: "Monotype Corsiva", Times, sans-serif;
  margin-left: 100px;
}